= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
  = devise_error_messages!
  %fieldset
    %legend
      Edit #{resource_name.to_s.humanize}
    .control-group
      = f.label :email, :class => "control-label", :for => "email"
      .controls
        = f.email_field :email, :class => "input-xlarge"
    .control-group
      = f.label :password, :class => "control-label", :for => "password"
      .controls
        = f.password_field :password, :class => "input-xlarge", :autocomplete => "off"
        %br
        %i (leave blank if you don't want to change it)
    .control-group
      = f.label :password_confirmation, :class => "control-label", :for => "password_confirmation"
      .controls
        = f.password_field :password_confirmation, :class => "input-xlarge"
    .control-group
      = f.label :current_password, :class => "control-label", :for => "password_confirmation"
      .controls
        = f.password_field :current_password, :class => "input-xlarge"
    .form-actions
      %button.btn.btn-primary.btn-large{:type => "submit"} Update
      %button.btn Cancel
%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
= link_to "Back", :back