.wrapper{:"data-map" => "true"}
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab1"} Description
      %li
        %a{"data-toggle" => "tab", :href => "#tab2"} Search
      %li
        %a{"data-toggle" => "tab", :href => "#tab3"} Directions
    .hide-arrow{:onclick => "hide_panel();"}
      %i.icon-chevron-right
    .tab-content
      #tab1.tab-pane.active
        %h5.tab_header
          Full description
        .well.description
          = @desc
      #tab2.tab-pane
        .row-fluid.search_form
          = form_tag("/search", :method => "get", :class => "form-search") do
            .span8
              = text_field_tag(:q, params[:q], :class => "input-medium search-query", :placeholder => "Search")
              = hidden_field_tag(:slider, "slider")
            .span3
              = submit_tag("Search", :class => "btn")
        .row-fluid
          .sapn10.results
            Total points:
            = @size
      #tab3.tab-pane
        #directions-info
          .control-group
            %label.control-label.pointer-label{for:"input-from"}
              %i.icon-map-marker
            .controls
              %input{type:"text", id:"input-from",placeholder:"From"}
          .control-group
            %label.control-label.pointer-label{for:"input-to"}
              %i.icon-map-marker
            .controls
              %input{type:"text", id:"input-to",placeholder:"To"}
        #directions-panel

  .map_section
    - if defined? zoom
      - @zoom = zoom
    - else
      - @zoom = 9

    - center_latitude = (defined? center_lat) ? center_lat : 48.471303
    - center_longitude = (defined? center_long) ? center_long : 22.882928

    #map

= if @q
  :javascript
    show_panel(1);


-# Deprecated Gmap4Rails
-#
-#= gmaps({ "map_options" => {  "auto_adjust" => false,
-#                              "auto_zoom" => true,
-#                              "zoom" => @zoom.to_i,
-#                              "center_latitude" => center_latitude,
-#                              "center_longitude" => center_longitude,
-#                              "do_clustering" => true },
-#          "markers" => {"data" => @json }})


:javascript
  window.markers = #{raw @json.to_json};
  buildMapFromMarkers(window.markers);



-#.well{:style => "margin-top:20px;"}
  .description
    = @desc
    -#Full description...

-##vk_like
-#%script{:type => "text/javascript"}
  VK.Widgets.Like("vk_like", {type: "full"});

